.shows__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;

  & > div,
  & > button {
    margin-bottom: 15px;
  }
}
